<header>
  <div class="container">
    <h1 class="logo">parshuram kalunkhe</h1>
    <nav>
      <span class="navitem "> &lt;&lt;</span>
      <span class="navitem "> <a href="/">blog</a> </span>
      <span class="navitem "> <a href="/blog/">recent</a> </span>
      <span class="navitem "> <a href="https://parshuramkalunkhe.github.io/">parshuramkalunkhe.github.io</a> </span>
      <span class="navitem "> &gt;&gt;</span>
    </nav> <br>
  </div>
</header>