<header>
  <div class="container">
    <h1>parshuram kalunkhe</h1>
    <hr>
    <nav>
      &lt;&lt;
      <span><a href="/">Home</a> </span>
      <span><a href="/blog/">Blog</a></span>
      &gt;&gt;
    </nav> <br>
  </div>
</header>