---
title: recent
layout: 'base.njk'
---
<div class="container">
  <h1>Recent articles</h1>
  <ul role="list" class="articles__list flow">
    {%- for post in collections.post | reverse-%}
      {% include 'article-snippet.njk' %}
    {%- endfor -%}
  </ul>
</div>